$default-ff: "Poppins", sans-serif;

$light-gray: #f1f1f1;
$light-gray-hover: #ebebeb;

$bg-secondary: #40454e;
$bg-secondary-hover: #33383d;

$black: #000;
$white: #fff;

$gray: #476374;

$border-color: #dddddd;
$border-color-hover: #e6e6e6;

$shadow-small: 0 5px 8px #d3d3d380;
$shadow-small-hover: 0 5px 10px #b4b4b480;
