@use "../abstracts" as *;

.checked-list {
  border-top: 1px solid $border-color;
  background: $app-bg;
  color: $disabled-gray;
  cursor: pointer;
  .title {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 60px;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $disabled-hover;
    }
  }
  .icon {
    width: 40px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  .title-count {
    padding-left: 10px;
  }
  .shopping-item {
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .image {
    filter: grayscale(100%);
  }
  .item-name {
    text-decoration: line-through;
  }
  .items-list {
    transform: scaleY(0);
    transition: transform 0.1s ease;
    transform-origin: top;
  }
  &.visible {
    .items-list {
      transform: scaleY(1);
    }
    .icon {
      transform: rotate(-180deg);
    }
  }
}
