$default-ff: "Poppins", sans-serif;

$white: #fff;
$black: #000;

$body-bg: #f7f5f5;

$light-green: #2a9d8f;
$light-green-active: #238176;
$dark-green: #264653;

$dark-blue: #1d3557;

$shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-light-active: 0 2px 15px rgba(0, 0, 0, 0.2);
